
:host {
  display: flex;
  flex-direction: column;
  // height: 100%;
}

// ion-content {
//   flex: 1;
//    --padding-bottom: 0;
//     --margin-bottom: 0;  
// }
ion-content.custom-content {
  min-height: 36vh; // or a specific value like 300px
  max-height: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

ion-footer {
  position: relative;
}
