<div class="modal-wrapper">
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-title>
          <b>Create Project</b>
        </ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="setOpen(false)">
          <ion-icon name="close-outline" class="icon-medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="teamForm">
      <ion-item>
        <ion-input formControlName="projectname" label="Project Name" labelPlacement="floating"
          placeholder="Enter project name" [clearOnEdit]="true"></ion-input>
      </ion-item>
      @if (teamForm.get('projectname')?.invalid &&
      (teamForm.get('projectname')?.dirty ||
      teamForm.get('projectname')?.touched)) {
      <ion-text color="danger" class="error-message">
        @if (teamForm.get('projectname')?.errors?.['required']) {
        <p>Project Name is required.</p>
        } @if (teamForm.get('projectname')?.errors?.['minlength']) {
        <p>Minimum 3 characters required.</p>
        }
      </ion-text>
      }

      <ion-item>
        <ion-input formControlName="projectlocation" label="Account Name" labelPlacement="floating"
          placeholder="Enter account name" [clearOnEdit]="true"></ion-input>
      </ion-item>
      @if (teamForm.get('projectlocation')?.invalid &&
      (teamForm.get('projectlocation')?.dirty ||
      teamForm.get('projectlocation')?.touched)) {
      <ion-text color="danger" class="error-message">
        @if (teamForm.get('projectlocation')?.errors?.['required']) {
        <p>Project Location is required.</p>
        } @if (teamForm.get('projectlocation')?.errors?.['minlength']) {
        <p>Minimum 3 characters required.</p>
        }
      </ion-text>
      }
    </form>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">

        <ion-button class="close" (click)="setOpen(false)">Close</ion-button>

        <ion-button class="save" (click)="SubmitForm()">Save</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>