.textarea-fill-outline {
  margin-top: 10px !important;
}

:host {
  display: flex;
  flex-direction: column;
  height: 80%;
}

ion-content {
  flex: 1;
  --padding-bottom: 0;
  --margin-bottom: 0;
}

ion-footer {
  position: relative;
}

ion-grid {
  margin-top: 15px;
}