
// :host {
//   display: flex;
//   flex-direction: column;
//   height: 80%;
// }

// ion-content {
//   flex: 1;
//    --padding-bottom: 0;
//     --margin-bottom: 0;  
// }

.modal-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--ion-background-color, #fff);
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}


// ion-footer {
//   position: relative;
// }
ion-grid {
  margin-top: 10px;
}