
<div class="modal-wrapper">
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-title>
          <b>Create Range</b>
        </ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="setOpen(false)">
          <ion-icon name="close-outline" class="icon-medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">
    <form [formGroup]="weekSummaryForm" (ngSubmit)="onSubmit()">
      <ion-grid class="ion-margin-top">

        <ion-row>
          <ion-col size="6">
            <ion-item class="custom-item" [class.invalid]="isInvalid('weekFromDate')" [class.valid]="isValid('weekFromDate')"
              lines="none">
              <ion-input type="date" formControlName="weekFromDate" label="Week Start Range" labelPlacement="floating"
                class="label-texts" placeholder="Select start of week" [clearOnEdit]="true"></ion-input>
            </ion-item>

            @if (weekSummaryForm.get('weekFromDate')?.invalid &&
            (weekSummaryForm.get('weekFromDate')?.dirty || weekSummaryForm.get('weekFromDate')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if (weekSummaryForm.get('weekFromDate')?.errors?.['required']) {
              <p>Start date is required</p>
              }
            </ion-text>
            }
          </ion-col>

          <ion-col size="6">
            <ion-item class="custom-item" [class.invalid]="isInvalid('weekToDate')" [class.valid]="isValid('weekToDate')"
              lines="none">
              <ion-input type="date" formControlName="weekToDate" label="Week End Range" labelPlacement="floating"
                class="label-texts" placeholder="End of week" (ionBlur)="validateDates()"></ion-input>
            </ion-item>

           @if (weekSummaryForm.get('weekToDate')?.invalid &&
            (weekSummaryForm.get('weekToDate')?.dirty || weekSummaryForm.get('weekToDate')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if (weekSummaryForm.get('weekToDate')?.errors?.['required']) {
              <p>Start date is required</p>
              }
            </ion-text>
            }
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </ion-content>


  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button class="close" (click)="setOpen(false)">Close</ion-button>
        <ion-button class="save" (click)="onSubmit()">Save</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>