  <ion-header>
    <ion-toolbar color="light">
      <ion-title slot="start">
        <b> {{ isEditMode ? 'Update' : 'Create' }} {{ role }}</b>
      </ion-title>
      <ion-buttons slot="end" class="ion-no-padding">
        <ion-button fill="clear" (click)="setOpen(false)">
          <ion-icon name="close-outline" class="icon-medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item class="custom-item" [class.invalid]="validationService.isInvalid('firstName',registrationForm)"
              [class.valid]="validationService.isValid('firstName',registrationForm)" lines="none">
              <ion-input class="label-texts" formControlName="firstName" label="First Name" labelPlacement="floating"
                placeholder="Enter your first name" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if (validationService.isInvalid('firstName',registrationForm)) {
            <ion-text color="danger" class="error-message">
              <p>Field is required.</p>

            </ion-text>
            }
          </ion-col>

          <ion-col size="6">
            <ion-item class="custom-item" lines="none"
              [class.invalid]="validationService.isInvalid('lastName',registrationForm)"
              [class.valid]="validationService.isValid('lastName',registrationForm)">
              <ion-input class="label-texts" formControlName="lastName" label="Last Name" labelPlacement="floating"
                placeholder="Enter your last name" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if(validationService.isInvalid('lastName',registrationForm)){
            <ion-text color="danger" class="error-message">
              <p>Last Name is required</p>

            </ion-text>
            }

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item class="custom-item" lines="none"
              [class.invalid]="validationService.isInvalid('email',registrationForm)"
              [class.valid]="validationService.isValid('email',registrationForm)">
              <ion-input class="label-texts" formControlName="email" label="Email" labelPlacement="stacked"
                placeholder="Enter your email" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if (validationService.isInvalid('lastName',registrationForm)) {
            <ion-text color="danger" class="error-message">
              @if (registrationForm.get('email')?.errors?.['required']) {
              <p>Email is required.</p>
              } @if (registrationForm.get('email')?.errors?.['email']) {
              <p>Invalid email format.</p>
              }
            </ion-text>
            }
          </ion-col>

          <ion-col size="6">
            <ion-item class="custom-item" lines="none"
              [class.invalid]="validationService.isInvalid('employeeCode',registrationForm)"
              [class.valid]="validationService.isValid('employeeCode',registrationForm)">
              <ion-input class="label-texts" formControlName="employeeCode" label="Employee ID" labelPlacement="floating"
                placeholder="Enter your employee ID" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if (validationService.isInvalid('employeeCode',registrationForm)) {
            <ion-text color="danger" class="error-message">

              <p>Employee ID is required.</p>

            </ion-text>
            }
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item class="custom-item" lines="none"
              [class.invalid]="validationService.isInvalid('password',registrationForm)"
              [class.valid]="validationService.isValid('password',registrationForm)">
              <ion-input class="label-texts" formControlName="password" label="Password" labelPlacement="floating"
                placeholder="Enter your password" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if (validationService.isInvalid('password',registrationForm)) {
            <ion-text color="danger" class="error-message">
              @if (registrationForm.get('password')?.errors?.['required']) {
              <p>Password is required.</p>
              } @if (registrationForm.get('password')?.errors?.['minlength']) {
              <p>Minimum 8 characters required</p>
              }
            </ion-text>
            }
          </ion-col>

          <ion-col size="6">
            <ion-item class="custom-item" lines="none"
              [class.invalid]="validationService.isInvalid('confirmPassword',registrationForm)"
              [class.valid]="validationService.isValid('confirmPassword',registrationForm)">
              <ion-input class="label-texts" formControlName="confirmPassword" label="Confirm Password"
                labelPlacement="floating" placeholder="Enter your password again" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if (validationService.isInvalid('confirmPassword',registrationForm)) {
            <ion-text color="danger" class="error-message">

              <p>Confirm Password is required.</p>

            </ion-text>
            } @if (registrationForm.errors?.['passwordMismatch'] &&
            registrationForm.get('confirmPassword')?.touched) {
            <ion-text color="danger">
              <p>Passwords do not match.</p>
            </ion-text>
            }
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="stack-dropdown custom-item" lines="none"
              [class.invalid]="validationService.isInvalid('projectIds',registrationForm)"
              [class.valid]="validationService.isValid('projectIds',registrationForm)">
              <ion-label class="label-texts" position="stacked">Projects</ion-label>
              <ion-select class="label-texts" interface="popover" multiple="true" formControlName="projectIds"
                placeholder="Select Project">
                <ng-container *ngIf="allProjects$ | async as projectList">
              <ion-select-option class="label-texts" *ngFor="let p of  projectList" [value]="p.projectId">
                  {{ p.projectName }}
                </ion-select-option>
                </ng-container>
           
              </ion-select>
            </ion-item>

            @if (validationService.isInvalid('projectIds',registrationForm)) {
            <ion-text color="danger" class="error-message">

              <p>At least one project must be selected.</p>

            </ion-text>
            }
          </ion-col>


          <ion-col size="6">
            <ion-item class="stack-dropdown custom-item" lines="none"
              [class.invalid]="validationService.isInvalid('techStack',registrationForm)"
              [class.valid]="validationService.isValid('techStack',registrationForm)">
              <ion-label class="label-texts" position="stacked">Tech Stack</ion-label>
              <ion-select class="label-texts" formControlName="techStack" interface="popover"
                placeholder="Select Tech Stack">
                <ion-select-option value="Frontend">Frontend</ion-select-option>
                <ion-select-option value="Backend">Backend</ion-select-option>
                <ion-select-option value="FullStack">Full Stack</ion-select-option>
                <ion-select-option value="Testing">Testing</ion-select-option>
                <ion-select-option value="UI">UI</ion-select-option>
                <ion-select-option value="UX">UX</ion-select-option>
                <ion-select-option value="JAVA">JAVA</ion-select-option>
                <ion-select-option value="RPA">RPA</ion-select-option>
              </ion-select>
            </ion-item>
            @if (validationService.isInvalid('techStack',registrationForm)) {
            <ion-text color="danger" class="error-message">

              <p>Tech stack selection is required.</p>

            </ion-text>
            }
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item class="custom-item" lines="none">
              <ion-input class="label-texts" readonly label="Role" labelPlacement="floating" formControlName="role"
                type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end" class="ion-no-paddings">

        <ion-button class="close" (click)="setOpen(false)">Close</ion-button>

        <ion-button class="save" (click)="onSubmit()">
          {{ isEditMode ? 'Update' : 'Save' }}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

<div class="loader-overlay" *ngIf="(isLoading$ | async)">
    <ion-spinner name="crescent"></ion-spinner>
</div>