<ion-header>
  <ion-toolbar class="custom-header">
    <ion-title class="white-color">Employee Tracking System
    </ion-title>
    <ion-buttons slot="start" class="white-color" (click)="toggleMenu()">
      <ion-menu-button *ngIf="(router.url) !== '/login'" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="(router.url) !== '/login'" class="white-color" slot="end">
      <ion-item class="custom-header white-color">{{ fullName }}</ion-item>
      <ion-button id="auto-trigger"><ion-icon name="person-circle-outline" id="cover-trigger">
        </ion-icon>
      </ion-button>
      <ion-popover trigger="auto-trigger" size="auto" [dismissOnSelect]="true">
        <ng-template>
          <ion-list>

            <ion-item>{{ role }}</ion-item>
            <ion-item (click)="onLogout()"><ion-button> Logout </ion-button>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="bread-logout">
  <app-breadcrumb></app-breadcrumb>
</div>