
ion-header {
  position: fixed;      
  top: 0;               
  left: 0;
  width: 100%;         
  z-index: 999;         
}

.custom-header {
  --background: rgb(25, 25, 71);
}

.white-color {
  color: white;
}

ion-icon {
  font-size: 30px;
}

.bread-logout{
  margin-top: 60px; 
}
.logo{
  display: flex;
}