<ion-header>
    <ion-toolbar>
        <div class="custom-nav">
            <a [class.active]="selectedTab === 'active'" (click)="switchTab('active')" class="cursor">Weekly Report</a>
            <a [class.active]="selectedTab === 'link'" (click)="switchTab('link')" class="cursor">Releases</a>
        </div>
    </ion-toolbar>
</ion-header>

<div class="modal-wrapper" *ngIf="selectedTab === 'active'">

    <app-reusable-table [columns]="columns" [data]="sprintweekList$" [label]="label"
        (rowAction)="handleRowAction($event)"></app-reusable-table>

</div>

<div class="modal-wrapper" *ngIf="selectedTab === 'link'">


    <app-reusable-table [columns]="columns" [data]="sprintweekList$" [label]="label"
        (rowAction)="handleRowAction($event)"></app-reusable-table>


</div>

<div class="loader-overlay" *ngIf="(isLoading$ | async)">
    <ion-spinner name="crescent"></ion-spinner>
</div>