.textarea-fill-outline {
  margin-top: 10px !important;
}
 
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
 
 
ion-grid {
  margin-top: 15px;
}
 
.custom-nav {
  display: flex;
  justify-content: start;
  padding: 10px;
  gap: 30px;
}
 
.custom-nav a {
  text-decoration: none;
  color: #818181;
  font-size: 16px;
  // font-weight: 500;
  cursor: pointer;
}
 
.custom-nav a.active {
  font-weight: bold;
  color: #191947;
  border-bottom: 2px solid #191947;
}
.custom-no-border {
  border-bottom: none !important;
  box-shadow: none !important;
}