<ion-header>
    <ion-toolbar>
        <div class="custom-nav">
            <a [class.active]="selectedTab === 'active'" (click)="switchTab('active')" class="cursor">Weekly Report</a>
            <a [class.active]="selectedTab === 'link'" (click)="switchTab('link')" class="cursor">Incidents</a>
        </div>
    </ion-toolbar>
</ion-header>



<div class="modal-wrapper" *ngIf="selectedTab === 'active'">
    <ion-header lines="none" class="custom-no-border">
        <ion-toolbar color="light" lines="none">
            <ion-title><b>Create Weekly Sprint Update</b></ion-title>
        </ion-toolbar>
    </ion-header>

    <form [formGroup]="weeklysprintUpdateForm" (ngSubmit)="onSubmit()" class="register-form">
        <ion-grid>

            <ion-row>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Assigned Points</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="assignedPoints"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Assigned Stories</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="assignedStoriesCount"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Completed %</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="completePercentage"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">In Dev Points</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="inDevPoints"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">In Dev Stories</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="inDevStoriesCount"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">In QA Points</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="inQaPoints"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">In QA Stories</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="inQaStoriesCount"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Completed Points</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="completePoints"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Completed Stories</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="completeStoriesCount"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Blocked Points</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="blockedPoints"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Blocked Stories</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="blockedStoriesCount"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Estimation Health</ion-label>
                        <ion-select class="label-texts" formControlName="estimationHealth" interface="popover"
                            placeholder="Select Type">
                            <ion-select-option value="Amber">Amber</ion-select-option>
                            <ion-select-option value="Red">Red</ion-select-option>
                            <ion-select-option value="Green">Green</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>

                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Grooming Health</ion-label>
                        <ion-select class="label-texts" formControlName="groomingHealth" interface="popover"
                            placeholder="Select Type">
                            <ion-select-option value="Amber">Amber</ion-select-option>
                            <ion-select-option value="Red">Red</ion-select-option>
                            <ion-select-option value="Green">Green</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Difficulties (Type 1)</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="difficultCount1"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Difficulties (Type 2)</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="difficultCount2"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="custom-item" lines="none">
                        <ion-label class="label-texts" position="stacked">Injection</ion-label>
                        <ion-input class="label-texts" type="number" formControlName="injection"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size="8">
                    <ion-item class="custom-item" lines="none">
                        <ion-textarea label="Comments" labelPlacement="floating" formControlName="comments"
                            class="label-texts" placeholder="Enter Comments" rows="3">
                        </ion-textarea>
                    </ion-item>

                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-footer>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button class="close" (click)="setOpen(false)">Close</ion-button>
                    <ion-button class="save" type="submit">Submit</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
    </form>
</div>

<div class="modal-wrapper" *ngIf="selectedTab === 'link'">

    <ion-header lines="none" class="custom-no-border">
        <ion-toolbar color="light" lines="none">
            <ion-title><b>Create Incidents</b></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-row>
        <ion-col size="4">
            <ion-item class="custom-item" lines="none">
                <ion-input class="label-texts" type="number" label="Week ID" labelPlacement="floating"
                    formControlName="weekId">
                </ion-input>
            </ion-item>
        </ion-col>

        <ion-col size="4">
            <ion-item class="custom-item" lines="none">
                <ion-input class="label-texts" type="number" label="Project ID" labelPlacement="floating"
                    formControlName="projectId">
                </ion-input>
            </ion-item>
        </ion-col>

        <ion-col size="4">
            <ion-item class="custom-item" lines="none">
                <ion-input class="label-texts" type="number" label="Major" labelPlacement="floating"
                    formControlName="major">
                </ion-input>
            </ion-item>
        </ion-col>

        <ion-col size="4">
            <ion-item class="custom-item" lines="none">
                <ion-input class="label-texts" type="number" label="Minor" labelPlacement="floating"
                    formControlName="minor">
                </ion-input>
            </ion-item>
        </ion-col>

        <ion-col size="4">
            <ion-item class="custom-item" lines="none">
                <ion-input class="label-texts" type="number" label="Incidents Created" labelPlacement="floating"
                    formControlName="incidentCreated">
                </ion-input>
            </ion-item>
        </ion-col>

        <ion-col size="8">
            <ion-item class="custom-item" lines="none">
                <ion-input class="label-texts" type="text" label="Release Information" labelPlacement="floating"
                    formControlName="releaseInformation">
                </ion-input>
            </ion-item>
        </ion-col>
    </ion-row>


     <ion-footer>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button class="close" (click)="setOpen(false)">Close</ion-button>
                    <ion-button class="save" type="submit">Submit</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
</div>