<div class="modal-wrapper">
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-title>
          <b> {{ isEditMode ? "Update" : "Create" }} Quaterly Report</b>
        </ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="setOpen(false)">
          <ion-icon name="close-outline" class="icon-medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="quaterlyStandingForm">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('team')"
              [class.valid]="isValid('team')"
              lines="none"
            >
              <ion-input
                formControlName="projectName"
                label="Team"
                labelPlacement="floating"
                class="label-texts"
                placeholder="team"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('feature')"
              [class.valid]="isValid('feature')"
              lines="none"
            >
              <ion-input
                formControlName="feature"
                label="Feature"
                labelPlacement="floating"
                class="label-texts"
                placeholder="feature"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('sprint0')"
              [class.valid]="isValid('sprint0')"
              lines="none"
            >
              <ion-select
                formControlName="sprint0"
                label="Sprint0"
                labelPlacement="floating"
                class="label-texts"
                placeholder="Sprint0"
                interface="popover"
              >
                <ion-select-option value="true">true</ion-select-option>
                <ion-select-option value="false">false</ion-select-option>
                <!-- <ion-select-option value="sprint2">sprint2</ion-select-option>
                <ion-select-option value="sprint3">sprint3</ion-select-option>
                <ion-select-option value="sprint4">sprint4</ion-select-option> -->
              </ion-select>
            </ion-item>

            
   <!-- <ion-item
    class="custom-item"
    [class.invalid]="isInvalid('selectedSprint')"
    [class.valid]="isValid('selectedSprint')"
    lines="none"
  >
    <ion-select
      formControlName="selectedSprint"
      label="Sprint"
      labelPlacement="floating"
      class="label-texts"
      placeholder="Select Sprint"
      interface="popover"
    >
      <ion-select-option
        *ngFor="let sprint of sprints"
        [value]="sprint"
      >
        <ion-label class="checkbox-option">
          <ion-checkbox
            slot="start"
            [checked]="quaterlyStandingForm.get('selectedSprint')?.value === sprint"
            disabled
          ></ion-checkbox>
          {{ sprint }}
        </ion-label>
      </ion-select-option>
    </ion-select>
  </ion-item> -->

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('sprint1')"
              [class.valid]="isValid('sprint1')"
              lines="none"
            >
              <ion-select
                formControlName="sprint1"
                label="Sprint1"
                labelPlacement="floating"
                class="label-texts"
                placeholder="floating"
                interface="popover"
              >
                <ion-select-option value="true">true</ion-select-option>
                <ion-select-option value="false">false</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('sprint2')"
              [class.valid]="isValid('sprint2')"
              lines="none"
            >
              <ion-select
                formControlName="sprint2"
                label="Sprint2"
                labelPlacement="floating"
                class="label-texts"
                placeholder="sprint2"
                interface="popover"
              >
                <ion-select-option value="true">true</ion-select-option>
                <ion-select-option value="false"
                  >false</ion-select-option
                ></ion-select
              >
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('sprint3')"
              [class.valid]="isValid('sprint3')"
              lines="none"
            >
              <ion-select
                formControlName="sprint3"
                label="Sprint3"
                labelPlacement="floating"
                class="label-texts"
                placeholder="sprint3"
                interface="popover"
              >
                <ion-select-option value="true">true</ion-select-option>
                <ion-select-option value="false"
                  >false</ion-select-option
                ></ion-select
              >
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('sprint4')"
              [class.valid]="isValid('sprint4')"
              lines="none"
            >
              <ion-select
                formControlName="sprint4"
                label="Sprint4"
                labelPlacement="floating"
                class="label-texts"
                placeholder="sprint4"
                interface="popover"
              >
                <ion-select-option value="true">true</ion-select-option>
                <ion-select-option value="false"
                  >false</ion-select-option
                ></ion-select
              >
            </ion-item>
          </ion-col> 
          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('completionPercentage')"
              [class.valid]="isValid('completionPercentage')"
              lines="none"
            >
              <ion-input
                formControlName="completionPercentage"
                label="Completion"
                labelPlacement="floating"
                class="label-texts"
                placeholder="completion"
                [clearOnEdit]="true"
                type="number"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item
              class="custom-item"
              [class.invalid]="isInvalid('status')"
              [class.valid]="isValid('status')"
              lines="none"
            >
              <ion-input
                formControlName="status"
                label="Status"
                labelPlacement="floating"
                class="label-texts"
                placeholder="status"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>


          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button class="close" (click)="setOpen(false)">Close</ion-button>

        <ion-button class="save" (click)="SubmitForm()">
          {{ isEditMode ? "Update" : "Save" }}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
<!-- <div class="loader-overlay" *ngIf="(isLoading$ | async)">
  <ion-spinner name="crescent"></ion-spinner>
</div> -->
