<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-title>
        <b> {{ isEditMode ? "Update" : "Create" }} Quaterly Report</b>
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="setOpen(false)">
        <ion-icon name="close-outline" class="icon-medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="quaterlyStandingForm">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item class="custom-item" lines="none" [class.invalid]="
                validationService.isInvalid('projectName', quaterlyStandingForm)
              " [class.valid]="
                validationService.isValid('projectName', quaterlyStandingForm)
              ">
            <ion-select class="label-texts" formControlName="projectId" label="Projects" labelPlacement="floating"
              interface="popover" placeholder="Select Project">
              <ng-container *ngIf="allProjects$ | async as projectList">
                <ion-select-option *ngFor="let p of projectList" [value]="p.projectId">
                  {{ p.projectName }}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item class="custom-item" [class.invalid]="isInvalid('feature')" [class.valid]="isValid('feature')"
            lines="none">
            <ion-input formControlName="feature" label="Feature" labelPlacement="floating" class="label-texts"
              placeholder="feature" [clearOnEdit]="true"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item class="custom-item" [class.invalid]="isInvalid('selectedSprint')"
            [class.valid]="isValid('selectedSprint')" lines="none">
            <ion-select formControlName="selectedSprint" label="Selected Sprint" labelPlacement="floating"
              class="label-texts" placeholder="selectedSprint" interface="popover" multiple="true" >
              <ion-select-option value="Sprint-0">Sprint-0</ion-select-option>
              <ion-select-option value="Sprint-1">Sprint-1</ion-select-option>
              <ion-select-option value="Sprint-2">Sprint-2</ion-select-option>
              <ion-select-option value="Sprint-3">Sprint-3</ion-select-option>
              <ion-select-option value="Sprint-4">Sprint-4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item class="custom-item" lines="none" [class.invalid]="
                validationService.isInvalid('piNumber', quaterlyStandingForm)
              " [class.valid]="
                validationService.isValid('piNumber', quaterlyStandingForm)
              ">
            <ion-select class="label-texts" formControlName="piNumber" label="PI Standing" labelPlacement="floating"
              interface="popover" placeholder="Select Quarter">
              <ng-container>
                <ion-select-option *ngFor="let p of Quarter" [value]="p">
                  {{ p }}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
        </ion-col>


        <ion-col size="6">
          <ion-item class="custom-item" [class.invalid]="isInvalid('completionPercentage')"
            [class.valid]="isValid('completionPercentage')" lines="none">
            <ion-input formControlName="completionPercentage" type="number" label="Completion Percentage"
              labelPlacement="floating" class="label-texts" placeholder="Completion Percentage"
              [clearOnEdit]="true"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item class="custom-item" [class.invalid]="isInvalid('statusReport')"
            [class.valid]="isValid('statusReport')" lines="none">
            <ion-input formControlName="statusReport" label="Status Report" labelPlacement="floating"
              class="label-texts" placeholder="Status Report" [clearOnEdit]="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="close" (click)="setOpen(false)">Close</ion-button>

      <ion-button class="save" (click)="SubmitForm()">
        {{ isEditMode ? "Update" : "Save" }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<div class="loader-overlay" *ngIf="(isLoading$ | async)">
  <ion-spinner name="crescent"></ion-spinner>
</div>