<!-- <p>sign-up works!</p> -->
<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-card style="width: 500px; margin: 40px auto;">
  <ion-card-header>
    <ion-card-title style="text-align: center;">Sign-Up</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-list>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <ion-item>

        <ion-input label="First Name" labelPlacement="floating"  formControlName="firstName" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="formControls['firstName'].errors && isSubmitted" color="danger">
        <span *ngIf="formControls['firstName'].errors['required']">First name is required</span>
        <span *ngIf="formControls['firstName'].errors['minlength']">Minimum 2 characters required</span>
      </ion-note>

      <!-- Last Name -->
      <ion-item>
      
        <ion-input label="Last Name" labelPlacement="floating" formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="formControls['lastName'].errors && isSubmitted" color="danger">
        <span *ngIf="formControls['lastName'].errors['required']">Last name is required</span>
        <span *ngIf="formControls['lastName'].errors['minlength']">Minimum 2 characters required</span>
      </ion-note>

      <!-- Email -->
      <ion-item>
      
        <ion-input label="Email" labelPlacement="floating" formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-note *ngIf="formControls['email'].errors && isSubmitted" color="danger">
        <span *ngIf="formControls['email'].errors['required']">Email is required</span>
        <span *ngIf="formControls['email'].errors['email']">Please enter a valid email</span>
      </ion-note>

       <!-- Employee Id -->
      <ion-item>
      
        <ion-input label="Employee Id" labelPlacement="floating" formControlName="employeeId" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="formControls['employeeId'].errors && isSubmitted" color="danger">
        <span *ngIf="formControls['employeeId'].errors['required']">Email is required</span>
      </ion-note>

      <!-- Password -->
      <ion-item>
       
        <ion-input label="Password" labelPlacement="floating" formControlName="password" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="formControls['password'].errors && isSubmitted" color="danger">
        <span *ngIf="formControls['password'].errors['required']">Password is required</span>
        <span *ngIf="formControls['password'].errors['minlength']">Minimum 6 characters required</span>
      </ion-note>

      <!-- Confirm Password -->
      <ion-item>
       
        <ion-input label="Confirm Password" labelPlacement="floating" formControlName="confirmPassword" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="formControls['confirmPassword'].errors && isSubmitted" color="danger">
        <span *ngIf="formControls['confirmPassword'].errors['required']">Please confirm your password</span>
        <span *ngIf="formControls['confirmPassword'].errors['mustMatch']">Passwords must match</span>
      </ion-note>

      <!-- Role Selection -->
     <ion-list>
  <ion-item>
    <ion-input readonly label="Role" labelPlacement="floating" formControlName="role" type="text"></ion-input>
    <!-- <ion-select label="Select Role" labelPlacement="floating" value="Manager" formControlName="role">
      <ion-select-option value="Manager">Manager</ion-select-option>
      <ion-select-option value="Employee">Employee</ion-select-option>
    </ion-select> -->
  </ion-item>
</ion-list>
    

    <!-- Submit Button -->
    <ion-button type="submit" expand="block" class="ion-margin-top">
      Submit
    </ion-button>
  </form>
</ion-list>
 </ion-card-content>
</ion-card>

