<ion-grid>
  <ion-row style="display: flex;align-items: center;">
    <ion-col class="ion-text-start">
      <span class="project-title"> {{ title }} List</span>
    </ion-col>

    <ion-col class="ion-text-end" size="auto">
      <ion-button style="--background: #000033" 
      (click)="openModal()"
        >View</ion-button
      >
      <ion-button
        style="--background: #000033"
        class="large-button"
        (click)="setOpen(true)"
        >Create {{ title }}</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="project-table">
  <!-- Header Row -->
  <ion-row
    class="header-row ion-text-center"
    style="font-weight: bold; border-bottom: 1px solid #ccc"
  >
    <ion-col size="2">{{ title }} ID</ion-col>
    <ion-col size="3">{{ title }} Name</ion-col>
    <ion-col size="3">Mail-id</ion-col>
    <ion-col size="2">Project Name</ion-col>
    <ion-col size="2">Action</ion-col>
  </ion-row>

  <!-- Data Rows -->
  @for (item of teamRegisterList$ | async; track item.employeeId) {
  <ion-row
    class="data-row ion-text-center"
    style="border-bottom: 1px solid #eee; align-items: center"
  >
    <ion-col size="2">{{ item.employeeId }}</ion-col>
    <ion-col size="3">{{ item.firstName }} {{ item.lastName }}</ion-col>
    <ion-col size="3">{{ item.username }}</ion-col>
    <ion-col size="2">{{ item.projectName }}</ion-col>
    <ion-col size="2">
      <div style="display: flex; gap: 10px; 
      justify-content: center">
        <ion-button fill="clear" size="small" title="View">
          <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" title="Edit">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="danger" title="Delete">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  } @empty {
  <ion-row class="ion-text-center">
    <ion-col size="12">No team members found.</ion-col>
  </ion-row>
  }
</ion-grid>

<ion-modal
  [isOpen]="isModalOpen"
  cssClass="custom-modal"
  (didDismiss)="onModalDismiss()"
>
  <ng-template>
    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-padding"> Create {{ title }} </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-card-content>
        <ion-list>
          <form
            [formGroup]="registrationForm"
            class="register-form"
            (ngSubmit)="onSubmit()"
          >
            <ion-item>
              <ion-input
                formControlName="firstName"
                label="First Name"
                labelPlacement="floating"
                placeholder="Enter you first name"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('firstName')?.invalid &&
            (registrationForm.get('firstName')?.dirty ||
            registrationForm.get('firstName')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if (registrationForm.get('firstName')?.errors?.['required']) {
              <p>First Name is required.</p>
              }
            </ion-text>
            }
            <ion-item>
              <ion-input
                formControlName="lastName"
                label="Last Name"
                labelPlacement="floating"
                placeholder="Enter your last name"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('lastName')?.invalid &&
            (registrationForm.get('lastName')?.dirty ||
            registrationForm.get('lastName')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if (registrationForm.get('lastName')?.errors?.['required']) {
              <p>Last Name is required.</p>
              }
            </ion-text>
            }

            <ion-item>
              <ion-input
                formControlName="username"
                label="Email "
                labelPlacement="stacked"
                placeholder="Enter your email"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('username')?.invalid &&
            (registrationForm.get('username')?.dirty ||
            registrationForm.get('username')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if (registrationForm.get('username')?.errors?.['required']) {
              <p>Email is required.</p>
              } @if (registrationForm.get('username')?.errors?.['email']) {
              <p>Invalid email format.</p>
              }
            </ion-text>
            }
            <ion-item>
              <ion-input
                formControlName="employeeId"
                label="Employee id "
                labelPlacement="floating"
                placeholder="Enter your employeeid"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('employeeId')?.invalid &&
            (registrationForm.get('employeeId')?.dirty ||
            registrationForm.get('employeeId')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if (registrationForm.get('employeeId')?.errors?.['required']) {
              <p>Employee id is required.</p>
              }
            </ion-text>
            }

            <ion-item>
              <ion-input
                formControlName="password"
                label="Password"
                labelPlacement="floating"
                placeholder="Enter your password"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('password')?.invalid &&
            (registrationForm.get('password')?.dirty ||
            registrationForm.get('password')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if (registrationForm.get('password')?.errors?.['required']) {
              <p>Password is required.</p>
              } @if (registrationForm.get('password')?.errors?.['minlength']){
              <p>Minimum 8 characters required</p>
              }
            </ion-text>
            }
            <ion-item>
              <ion-input
                formControlName="confirmPassword"
                label="Confirm Password"
                labelPlacement="floating"
                placeholder="Enter your password"
                [clearOnEdit]="true"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('confirmPassword')?.invalid &&
            (registrationForm.get('confirmPassword')?.dirty ||
            registrationForm.get('confirmPassword')?.touched)) {
            <ion-text color="danger" class="error-message">
              @if
              (registrationForm.get('confirmPassword')?.errors?.['required']) {
              <p>Confirm Password is required.</p>
              }
            </ion-text>
            } @if (registrationForm.errors?.['passwordMismatch'] &&
            registrationForm.get('confirmPassword')?.touched) {
            <ion-text color="danger">
              <p>Passwords do not match.</p>
            </ion-text>
            }

            <ng-container>
              <ion-item>
                <ion-select
                  label="Projects"
                  label-placement="floating"
                  formControlName="projectName"
                >
                  <ion-select-option *ngFor="let p of projects" [value]="p">
                    {{ p }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="full" class="stack-dropdown">
                <ion-label position="stacked">Tech Stack</ion-label>
                <ion-select
                  formControlName="techstack"
                  interface="popover"
                  placeholder="Select Tech Stack"
                >
                  <ion-select-option value="Frontend"
                    >Frontend</ion-select-option
                  >
                  <ion-select-option value="Backend">Backend</ion-select-option>
                  <ion-select-option value="Testing">Testing</ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>

            <ion-item>
              <ion-input
                readonly
                label="Role"
                labelPlacement="floating"
                formControlName="role"
                type="text"
              ></ion-input>
            </ion-item>

            <ion-row class="ion-margin-top">
              <ion-col size="6">
                <ion-button expand="block" (click)="onCloseClick()">
                  Close
                </ion-button>
              </ion-col>

              <ion-col [size]="6">
                <ion-button
                  expand="block"
                  type="submit"
                  [disabled]="registrationForm.invalid"
                  style="--background: #000033"
                >
                  Register
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>
