<ion-card style="width: 500px; margin: 40px auto">
  <ion-card-header>
    <ion-card-title style="text-align: center">Sign-Up</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input formControlName="firstName" label="First Name" labelPlacement="stacked"
            placeholder="Enter you first name" [clearOnEdit]="true"></ion-input>
        </ion-item>
        @if (registrationForm.get('firstName')?.invalid && (registrationForm.get('firstName')?.dirty ||
        registrationForm.get('firstName')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (registrationForm.get('firstName')?.errors?.['required']) {
          <p>First Name is required.</p>
          }
         
        </ion-text>
        }
        <ion-item>
          <ion-input formControlName="lastName" label="Last Name" labelPlacement="stacked"
            placeholder="Enter your last name" [clearOnEdit]="true"></ion-input>
        </ion-item>
        @if (registrationForm.get('lastName')?.invalid && (registrationForm.get('lastName')?.dirty ||
        registrationForm.get('lastName')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (registrationForm.get('lastName')?.errors?.['required']) {
          <p>Last Name is required.</p>
          }
         
        </ion-text>
        }


        <ion-item>
          <ion-input formControlName="username" label="Email " labelPlacement="stacked"
            placeholder="Enter your email" [clearOnEdit]="true"></ion-input>
        </ion-item>
        @if (registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty ||
        registrationForm.get('username')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (registrationForm.get('username')?.errors?.['required']) {
          <p>Email  is required.</p>
          }
          @if (registrationForm.get('username')?.errors?.['email']) {
            <p>Invalid email format.</p>
            }
         
        </ion-text>
        }
        <ion-item>
          <ion-input formControlName="employeeId" label="Employee id " labelPlacement="stacked"
            placeholder="Enter your employeeid" [clearOnEdit]="true"></ion-input>
        </ion-item>
        @if (registrationForm.get('employeeId')?.invalid && (registrationForm.get('employeeId')?.dirty ||
        registrationForm.get('employeeId')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (registrationForm.get('employeeId')?.errors?.['required']) {
          <p>Employee id   is required.</p>
          }
         
         
        </ion-text>
        }
       
        <ion-item>
          <ion-input formControlName="password" label="Password" labelPlacement="stacked"
            placeholder="Enter your password" [clearOnEdit]="true"></ion-input>
        </ion-item>
        @if (registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty ||
        registrationForm.get('password')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (registrationForm.get('password')?.errors?.['required']) {
          <p>Password is required.</p>
          }
         
        </ion-text>
        }
        <ion-item>
          <ion-input formControlName="confirmPassword" label="Confirm Password" labelPlacement="stacked"
            placeholder="Enter your password" [clearOnEdit]="true"></ion-input>
        </ion-item>
        @if (registrationForm.get('confirmPassword')?.invalid && (registrationForm.get('confirmPassword')?.dirty ||
        registrationForm.get('confirmPassword')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (registrationForm.get('confirmPassword')?.errors?.['required']) {
          <p>Confirm Password is required.</p>
          }
         
        </ion-text>
        }
        @if (registrationForm.errors?.['passwordMismatch'] && 
        registrationForm.get('confirmPassword')?.touched) {
     <ion-text color="danger">
       <p>Passwords do not match.</p>
     </ion-text>
   }

        
        <ion-list>
          <ion-item>
            <ion-input
              readonly
              label="Role"
              labelPlacement="floating"
              formControlName="role"
              type="text"
            ></ion-input>
            <!-- <ion-select label="Select Role" labelPlacement="floating" value="Manager" formControlName="role">
      <ion-select-option value="Manager">Manager</ion-select-option>
      <ion-select-option value="Employee">Employee</ion-select-option>
    </ion-select> -->
          </ion-item>
        </ion-list>

        <!-- Submit Button -->
        <ion-button type="submit" expand="block" class="ion-margin-top">
          Submit
        </ion-button>
      </form>
    </ion-list>
  </ion-card-content>
</ion-card>

<!-- <ul *ngFor="let movie of register$ | async" class="movie-item">
  <li>{{ movie.firstName }}</li>
  <li>{{ movie.lastName }}</li>
  <li>{{ movie.email }}</li>
  <li>{{ movie.employeeId }}</li>
</ul> -->
