<!-- login.component.html -->
<!-- <ion-header style="width: 500px;margin: 20px auto;">
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-card style="width: 500px; margin: 40px auto">
  <ion-card-header>
    <ion-card-title style="text-align: center">Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input
            formControlName="username"
            label="Project Name"
            labelPlacement="stacked"
            placeholder="Enter User Name"
            [clearOnEdit]="true"
          ></ion-input>
        </ion-item>
        @if (loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.dirty ||
        loginForm.get('username')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (loginForm.get('username')?.errors?.['required']) {
          <p>Username is required.</p>
          } @if (loginForm.get('username')?.errors?.['email']) {
          <p>Invali email format</p>
          }
        </ion-text>
        }

        <ion-item>
          <ion-input
            placeholder="Enter Password"
            labelPlacement="floating"
            label="Password"
            formControlName="password"
              labelPlacement="stacked"
            placeholder="Enter Password"
            [clearOnEdit]="true"
          >
          </ion-input>
        </ion-item>
          @if (loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.dirty ||
        loginForm.get('password')?.touched)) {
        <ion-text color="danger" class="error-message">
          @if (loginForm.get('password')?.errors?.['required']) {
          <p>Password is required.</p>
          } @if (loginForm.get('password')?.errors?.['minlength']) {
          <p>Password contains atleast 6 chars</p>
          }
        </ion-text>
        }

        <ion-grid [fixed]="true" style="margin-top: 10px; width: inherit">
          <ion-col size-md="4">
            <ion-button type="submit" [disabled]="loginForm.invalid">
              Login
            </ion-button>
          </ion-col>
          <ion-col size-md="4">
            <ion-button [disabled]="true"> Forgot Password </ion-button>
          </ion-col>
          <ion-col size-md="4">
            <ion-button [disabled]="loginForm.valid" (click)="signUp()">
              Register
            </ion-button>
          </ion-col>
        </ion-grid>
      </form>
    </div>
  </ion-card-content></ion-card
>
