:host {
  display: flex;
  flex-direction: column;
  height:70%;
}
// .ion-paddingss{
//   margin-bottom: 16px;
// }
// ion-content {
//   flex: 1;
//   --padding-bottom: 0;
//   --margin-bottom: 0;
// }
ion-grid {
  margin-top: 10px;
}