.stack-dropdown {
  ion-label {
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
    font-size: 20px;
  }

  ion-select {
    padding-top: 4px;
    font-size: 14px;
  }
}
::ng-deep .custom-modal {
  // --width: 300px;
  --height: 557px;
  --border-radius: 10px;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}
ion-modal.custom-modal::part(content) {
  --width: 500px;
  --border-radius: 10px;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  overflow-y: auto;
  height: auto;
}
.project-table {
  ion-row {
    align-items: center;

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 4px;
      word-break: break-word;
    }
    
  }

  .header-row {
    background-color: #f4f4f4;
  }

  .data-row {
    background-color: #f9f9f9;
  }

  @media (max-width: 768px) {
    ion-row {
      flex-wrap: wrap;
    }
    ion-col {
      flex: 0 0 100%;
      max-width: 100%;
      justify-content: flex-start;
    }
    .header-row,
    .data-row {
      font-size: 14px;
    }
  }
 
}



 ::ng-deep .searchbar-input{
    border-radius: 4px !important;
  }
  