::ng-deep .custom-modal {
    --width: 40%;
    --height: auto;
    --border-radius: 16px;
    --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    --background: #ffffff;
      flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  ion-header, ion-footer, ion-toolbar {
    --background: #ffffff;
    box-shadow: none;
    text-align: center;
  }
  
  ion-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
  
  form {
    padding: 16px;
  }
  

  

  
  ion-button.submit {
    --background: #3880ff;
    color: white;
    margin-left: 8px;
  }
  