ion-breadcrumbs {
    padding: 10px;
    background-color: #f0f0f0;
    position: relative !important;
    z-index: 10 !important;
}


ion-breadcrumb {
    font-size: 14px;
    text-decoration: none;
    color: #333;
}

ion-breadcrumb:not(:last-child)::after {
  //  content: "/";
    color: #333;
    padding: 0 5px;
}

ion-breadcrumb[disabled] {
    color: #777;
    cursor: default;
}

ion-breadcrumb[disabled]::after {
    content: none;
}