<ion-breadcrumbs>
  <ion-breadcrumb *ngFor="let breadcrumb of breadcrumbs$ | async; let i = index" class="cursor"
    [ngClass]="{ 'breadcrumb-disabled': i !== updatedBreadCrumb.length - 1 }">
    <div class="display-flex">
      <div *ngIf="(i === 0 || breadcrumb.label=='Home')">
        <ion-icon *ngIf="i === 0" expand="block" [routerLink]="['/home']"
          [ngClass]="{ 'icon-disabled': breadcrumb.label!=='Home' }" name="home"></ion-icon>
      </div>
      <div *ngIf="i === 0 && breadcrumb.label!='Home'"> / </div>
      <div [routerLink]="breadcrumb.url">
        {{ breadcrumb.label }}
      </div>
    </div>
  </ion-breadcrumb>
</ion-breadcrumbs>