<ion-app>
    <app-header></app-header>
    <!-- Side Menu -->
    <!-- <ion-split-pane contentId="main-content" when="(min-width: 0px)"> -->
      <ion-menu side="start" menuId="main-menu" contentId="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item menuClose class="cursor" (click)="navigateToWkSmry()">
                  <ion-icon name="home" slot="start"></ion-icon>
                  Weekly Summary
                </ion-item>
              </ion-list>
               <ion-list>
                <ion-item menuClose class="cursor" (click)="navigateToProjectUpdate()">
                  <ion-icon name="person" slot="start"></ion-icon>
                  Weekly Updates
                </ion-item>
              </ion-list>
          <!-- Menu content -->
        </ion-content>
      </ion-menu>
  
      <!-- Main Content -->
      <ion-router-outlet id="main-content"></ion-router-outlet>
    <!-- </ion-split-pane> -->
    <router-outlet></router-outlet>

  </ion-app>
  