.project-table {
  ion-row {
    align-items: center;

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 4px;
      word-break: break-word;
    }
  }

  .header-row {
    background-color: #f4f4f4;
  }

  .data-row {
    background-color: #f9f9f9;
  }

  .button-link {
    color: #191947;
    text-decoration: underline;
    cursor: pointer;
  }

  // @media (max-width: 768px) {
  //   ion-row {
  //     flex-wrap: wrap;
  //   }
  //   ion-col {
  //     flex: 0 0 100%;
  //     max-width: 100%;
  //     justify-content: flex-start;
  //   }
  //   .header-row,
  //   .data-row {
  //     font-size: 14px;
  //   }
  // }
}

.action-color {
  color: #191947;
}