<ion-header>
  <ion-toolbar>
    <ion-title>ETS AI</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Chat container -->
<div class="chat-container" [ngClass]="{ 'centered': !hasStartedChat }">
  <ng-container *ngIf="hasStartedChat; else welcomeInput">
    <div *ngFor="let message of messages" class="message-row"
      [ngClass]="{'user-message': message.type === 'user', 'ai-message': message.type === 'ai'}">
      <div class="message-bubble" [innerHTML]="message.displayHtml"></div>
    </div>
    <div *ngIf="isLoading" class="message-row ai-message">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </ng-container>
  <ng-template #welcomeInput>
    <div class="welcome-input-container">
      
      <div class="chat-input-container">
              <ion-textarea [(ngModel)]="userInput" placeholder="Ask anything" class="chat-input"
          (keyup.enter)="submitQuestion()"></ion-textarea>
        <ion-button fill="clear" class="send-button" (click)="submitQuestion()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="hasStartedChat">
  <div class="chat-input-fixed">
    <div class="chat-input-container">
      <ion-textarea [(ngModel)]="userInput" placeholder="Ask anything" class="chat-input"
        (keyup.enter)="submitQuestion()"></ion-textarea>
      <ion-button fill="clear" class="send-button" (click)="submitQuestion()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ng-container>