ion-header {
  background-color: #191947;
  ion-toolbar ion-title {
    margin-left: 24px;
    font-weight: 400;
    color: white;
  }
}

ion-content {
  background-color: #f8f9fa;
  height: 530px;

  h2 {
    margin-top: 20px;
    color: #003366;
    font-weight: bold;
    border-bottom: 2px solid #003366;
    padding-bottom: 4px;
  }

  h3 {
    margin-top: 24px;
    color: #333;
  }

  .table-container {
    overflow-x: auto;
    margin-top: 12px;

    table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border: 1px solid;

      th {
        background-color: #b3c5e6;
        color: rgb(25, 25, 71);
        text-align: left;
        padding: 10px;
        font-size: 14px;
      }

      td {
        padding: 8px 10px;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
      }

      //   tr:nth-child(even) {
      //     background-color: #f2f2f2;
      //   }
    }
  }

  .status-badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    min-width: 24px;

    &.good {
      background-color: #28a745;
      color: white;
      font-weight: bold;
    }
  }

  ion-card {
    margin-top: 12px;
    background-color: #e9ecef;

    ion-card-content {
      font-size: 14px;
      color: #333;
    }
  }
}
th,
td {
  border: 2px solid #444; // Stronger border
  padding: 10px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
