<ion-header>
  <ion-toolbar class="custom-header">
    <ion-title class="white-color">Employee Tracking System</ion-title>
    <ion-buttons slot="start" class="white-color" (click)="toggleMenu()">
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="showLogout" class="white-color" slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon color="info" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

