
// :host {
//   display: flex;
//   flex-direction: column;
//   height: 70%;
// }

.modal-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--ion-background-color, #fff);
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}



// ion-footer {
//   position: relative;
// }
/* Removes underline */
.custom-searchbar .searchbar-input-container {
  border-bottom: none !important;
}

/* Dropdown wrapper placed below search bar */
.dropdown-wrapper {
  position: relative;
  z-index: 10;
  margin-top: -8px; /* Adjust as needed */
}

/* Dropdown look */
.custom-list {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

/* Remove item border */
ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}
.scroll-list {
  max-height: 150px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.ion-margin{
    margin-left: 7px;
}

ion-searchbar.search-bar-input {
  .searchbar-input {
   background-color: #f6f5f5 !important; // Replace with your desired color
  }
}

// .no-scroll-content {
//   --overflow: hidden; // disables scroll for ion-content
// }
