ion-content.ion-padding ion-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.custom-searchbar .searchbar-input-container {
  border-bottom: none !important;
}

.dropdown-wrapper {
  position: relative;
  z-index: 10;
  margin-top: -8px;
}

.custom-list {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}

.scroll-list {
  max-height: 150px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ion-margin {
  margin-left: 7px;
}

ion-searchbar.search-bar-input {
  .searchbar-input {
    background-color: #f6f5f5 !important;
  }
}