::ng-deep .custom-modal {
    --width: 500px;
    --height: auto;
    --border-radius: 10px;
    --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
  }
  

  .project-title {
    font-size: 20px;         // Bigger text
    font-weight: 600;
  }
  
  .large-button {
    font-size: 12px;        
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 12px;
    --padding-bottom: 12px;
  }

  .project-table {
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .header-row {
    background: #f1f1f1;
    font-weight: bold;
    font-size: 16px;
  }
  
  .data-row {
    font-size: 15px;
    border-top: 1px solid #ddd;
  }
  .submit:hover{
      background-color: blueviolet !important;
      color: whitesmoke;
  }
  