@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

app-header {
  background-color: rgb(25, 25, 71);
}

body {
  background-color: #f8f8f8;
  margin: 0 auto;
}

app-header {
  background-color: rgb(25, 25, 71);
}
.large-button {
  font-size: 12px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  font-weight: normal;
}

.display-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

ion-input.small-placeholder input {
  font-size: 14px;
}

ion-input.small-placeholder input::placeholder {
  font-size: 14px;
  color: #999;
}

// .project-table {
//   border-radius: 8px;
//   border: 2px solid #f8f8f8;
// }
.error-message {
  margin-left: 16px;
  margin-top: 4px;
  font-size: 10px;
  display: block;
  color: red;
}

.main::placeholder {
  font-size: 10px;
}
.header-row {
  background: #f1f1f1;
  font-weight: bold;
  font-size: 14px;
}

// ion-input, ion-searchbar{
//    box-shadow: none;
//     background: #f5f5f5;

// }

.data-row {
  font-size: 14px;
  // border-top: 1px solid #f8f8f8;;
}
.submit:hover {
  background-color: blueviolet !important;
  color: whitesmoke;
}

.link-id {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.cursor {
  cursor: pointer;
}
ion-header {
  padding-top: env(safe-area-inset-top);
  border-bottom: 1px solid #efefef;
  box-shadow: none !important;
}

ion-footer {
  box-shadow: none !important;
  position: relative;
  border-top: 1px solid #efefef;
}
// ion-content::part(scroll) {
//   padding-top: var(--ion-safe-area-top, 0);
// }

ion-menu-button {
  display: block !important;
}

ion-title {
  font-size: 1rem !important;
}

ion-row.table-header.md {
  font-size: 12px !important;
}

ion-card-header ion-title {
  font-size: 14px !important;
}

app-project-status {
  position: relative;
  z-index: 20;
}

.custom-modal {
  --width: 90%;
  --height: calc(100vh - 50vh);
  --max-width: 600px;
  // --max-height: 90vh;
  --border-radius: 2px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

ion-searchbar.search-bar-input {
  .searchbar-input {
    // background-color: #f6f5f5 !important;
    border-bottom: 1px solid;
    box-shadow: none;
    height: 36px;
    width: 100%;
  }
}
.employee-update-popup {
  --width: 55%;
}

ion-modal.custom-delete-modal::part(content) {
  height: 30% !important;
  width: 50% !important;
  margin-top: 50px; // Push from top
  transform: none !important; // Cancel vertical centering
}

.modal-wrapper {
  padding: 16px 24px;
  height: 100%;
}
