@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@mixin base-ion-button {
  --border-radius: 0px !important;
  --padding-start: 20px !important;
  --padding-end: 20px !important;
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --white-space: nowrap !important;
  font-size: 12px;
  font-weight: 300;
  white-space: nowrap; // prevent text wrap
  flex-shrink: 0;
}

* {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

app-header {
  background-color: rgb(25, 25, 71);
}

body {
  background-color: #f8f8f8;
  margin: 0 auto;
}

app-header {
  background-color: rgb(25, 25, 71);
}

.display-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

ion-input.small-placeholder input {
  font-size: 14px;
}

ion-input.small-placeholder input::placeholder {
  font-size: 14px;
  color: #999;
}

.error-message {
  margin-left: 16px;
  margin-top: 4px;
  font-size: 10px;
  display: block;
  color: red;
}

.main::placeholder {
  font-size: 10px;
}
.header-row {
  background: #f1f1f1;
  font-weight: bold;
  font-size: 14px;
}

.data-row {
  font-size: 14px;
}

.submit:hover {
  background-color: blueviolet !important;
  color: whitesmoke;
}

.link-id {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.cursor {
  cursor: pointer;
}
ion-header {
  padding-top: env(safe-area-inset-top);
  border-bottom: 1px solid #efefef;
  box-shadow: none !important;
}

ion-footer {
  box-shadow: none !important;
  position: relative;
  border-top: 1px solid #efefef;
  ion-toolbar ion-buttons {
    gap: 16px !important;
    ion-button {
      color: #000033;
      @include base-ion-button;
      &:first-child {
        color: #191947;
      }

      &:last-child {
        --background: #191947 !important; /* !important may be needed to override Ionic's styles */
        color: white;
      }
    }
  }
}

ion-menu-button {
  display: block !important;
}

ion-title {
  font-size: 1rem !important;
}

ion-row.table-header.md {
  font-size: 12px !important;
}

ion-card-header ion-title {
  font-size: 14px !important;
}

app-project-status {
  z-index: 1000;
}

.search-bar-input {
  flex-grow: 1;
  min-width: 0; // ensures it shrinks correctly
}

.custom-modal {
  --width: 90%;
  --height: calc(100vh - 50vh);
  --max-width: 600px;
  --border-radius: 2px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

ion-searchbar.search-bar-input {
  .searchbar-input {
    border-bottom: 1px solid;
    box-shadow: none;
    height: 36px;
    width: 100%;
  }
  .sc-ion-searchbar-md-h {
    width: 60% !important;
  }
}
.employee-update-popup {
  --width: 55%;
}
// .label-text  {
//   font-size: small;
//  line-height: 20px;
// }
/* 🎯 Label inside ion-input */
ion-input.label-text::label {
  font-size: 160px;
  line-height: 20px;
}
ion-input.label-texts .label-text-wrapper {
  font-size: 11px;
  line-height: 20px;
}

ion-input.label-texts input::placeholder {
  font-size: 11px;
}
ion-select.label-texts::part(text) {
  font-size: 11px;
  line-height: 20px;
}
ion-select.label-texts::part(placeholder) {
  font-size: 11px;
  line-height: 20px;
}
ion-select-option {
  font-size: 11px;
}

/* For ion-textarea placeholder */
ion-textarea.label-texts textarea::placeholder {
  font-size: 11px;
}

/* For textarea input directly */
ion-textarea.label-texts textarea {
  font-size: 11px;
}

/* Optional: label font size */
ion-textarea.label-texts .label-text-wrapper {
  font-size: 11px;
  line-height: 20px;
}

ion-modal.custom-delete-modal::part(content) {
  height: 30% !important;
  width: 50% !important;
  margin-top: 50px; // Push from top
  transform: none !important; // Cancel vertical centering
}
.custom-item {
  --background: #f6f5f5;
  padding: 4px;
}
ion-item.invalid {
    --background: #f3b7b7;
  }

  ion-item.valid {
  --background: #f3f4f6;

}

.modal-wrapper {
  padding:16px 24px;
  height:100%;
  width: 100%;
}

.ion-no-paddings {
  margin-right: 18px;
  gap: 16px;
}

ion-header {
  ion-toolbar {
    ion-title {
      margin-left: 8px;
      font-weight: 400;
    }
  }
}

ion-item.invalid {
  --background: #f3b7b7;
}

ion-item.valid {
  --background: #f3f4f6;
}

// Global button styles
ion-button {
  --background: #191947;
  @include base-ion-button;
}

.icon-button {
  --ion-icon-font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    font-size: 12px;
    line-height: 1;
  }
}
