* {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

app-header {
  background-color: rgb(25, 25, 71);
}

body {
  background-color: #e5e5e5;
  margin: 0 auto;
}

app-header {
  background-color: rgb(25, 25, 71);
}

.project-title {
  font-size: 14px;
  font-weight: 600;
  // padding-left: 20px;
  // padding-top: 20px;
}

.large-button {
  font-size: 12px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}
.large-button {
  font-size: 12px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

.project-table {
  // border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}
.error-message {
  margin-left: 16px;
  margin-top: 4px;
  font-size: 10px;
  display: block;
  color: red;
}

.main::placeholder {
  font-size: 10px;
}
.header-row {
  background: #f1f1f1;
  font-weight: bold;
  font-size: 14px;
}

.data-row {
  font-size: 14px;
  border-top: 1px solid #ddd;
}
.submit:hover {
  background-color: blueviolet !important;
  color: whitesmoke;
}

.link-id {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.cursor {
  cursor: pointer;
}

ion-header {
  padding-top: env(safe-area-inset-top);
}
// ion-content::part(scroll) {
//   padding-top: var(--ion-safe-area-top, 0);
// }

ion-menu-button {
  display: block !important;
}

ion-title {
  font-size: 1rem !important;
}

ion-row.table-header.md {
  font-size: 12px !important;
}

ion-card-header ion-title {
  font-size: 14px !important;
}

app-project-status{
  position: relative;
  z-index: 20;
}

