::ng-deep .custom-modal {
    --width: 500px;
    --height: 100%;
    --border-radius: 10px;
    --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
  }
    ion-modal.custom-modal::part(content) {
    height: 96%;
       --width: 500px;
    --border-radius: 10px;
    --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    
  }
    
  