<ion-grid>
    <ion-row class="ion-align-items-center">

        <ion-col class="ion-text-start">
            <span class="project-title"> Employee list</span>
        </ion-col>


        <ion-col class="ion-text-end" size="auto">
            <ion-button class="large-button" (click)="setOpen(true)">Create Employee</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>




<ion-grid class="project-table">
    <ion-row class="header-row ion-text-center">
        <ion-col size="2">Employee ID</ion-col>
        <ion-col size="2">Employee Name</ion-col>
        <ion-col size="2">Mail-id</ion-col>
        <ion-col size="2">phone Number</ion-col>
        <ion-col size="2">Employee Designation</ion-col>
        <ion-col size="2">Action</ion-col>


    </ion-row>

    @for (item of employees; track item.employeeId) {
    <ion-row class="data-row ion-text-center">

        <ion-col size="2">{{ item.employeeId }}</ion-col>
        <ion-col size="2">{{ item.employeeName }}</ion-col>
        <ion-col size="2">{{ item.employeeMail}}</ion-col>
        <ion-col size="2">{{ item.employeeNumber}}</ion-col>
        <ion-col size="2">{{ item.employeeDesignation}}</ion-col>
        <!-- <ion-col size="2">{{ item.techStack}}</ion-col> -->
        <ion-col size="2">
            <ion-icon name="create-outline" size="small" class="cursor" color="danger"></ion-icon>
            <ion-icon name="trash-outline" size="small" class="cursor" color="danger">

            </ion-icon>
        </ion-col>
    </ion-row>
    }
    @empty {

    <ion-row class="ion-text-center">
        <ion-col size="12">No projects found.</ion-col>
    </ion-row>
    }

</ion-grid>


<ion-modal [isOpen]="isModalOpen" cssClass="custom-modal">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title class="ion-padding ion-text-center ion-align-items-center">Create Employee </ion-title>

            </ion-toolbar>
        </ion-header>

        <form [formGroup]="employeeForm">
            <ion-item>
                <ion-input formControlName="employeeid" label="Employeee Id" labelPlacement="stacked"
                    placeholder="Enter your id" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if (employeeForm.get('employeeid')?.invalid && (employeeForm.get('employeeid')?.dirty ||
            employeeForm.get('employeeid')?.touched)) {
            <ion-text color="danger" class="error-message">
                @if (employeeForm.get('employeeid')?.errors?.['required']) {
                <p>Employee id  is required.</p>
                }
                @if (employeeForm.get('employeeid')?.errors?.['minlength']) {
                <p>Minimum 6 characters required.</p>
                }
            </ion-text>
            }
            <ion-item>
                <ion-input formControlName="employeename" label="Employee Name" labelPlacement="stacked"
                    placeholder="Enter your name" [clearOnEdit]="true"></ion-input>
            </ion-item>
            @if (employeeForm.get('employeename')?.invalid && (employeeForm.get('employeename')?.dirty ||
            employeeForm.get('employeename')?.touched)) {
            <ion-text color="danger" class="error-message">
                @if (employeeForm.get('employeename')?.errors?.['required']) {
                <p>Employee name is required.</p>
                }

            </ion-text>
            }
            <ion-item>
                <ion-input formControlName="email" label="Enter your mail id" type="text" label="Email" labelPlacement="stacked"></ion-input>
            </ion-item>
            @if (employeeForm.get('email')?.invalid && (employeeForm.get('email')?.dirty ||
            employeeForm.get('email')?.touched)) {
            <ion-text color="danger" class="error-message">
                @if (employeeForm.get('email')?.errors?.['required']) {
                <p>Email id is required.</p>
                }

            </ion-text>
            }
           <ion-item>
                <ion-input formControlName="phonenumber" label="Enter your number" type="number" label="Phone Number" labelPlacement="stacked"></ion-input>
            </ion-item>
            @if (employeeForm.get('phonenumber')?.invalid && (employeeForm.get('phonenumber')?.dirty ||
            employeeForm.get('phonenumber')?.touched)) {
            <ion-text color="danger" class="error-message">
                @if (employeeForm.get('phonenumber')?.errors?.['required']) {
                <p>phone number is required.</p>
                }

            </ion-text>
            }
            <ion-item>
                <ion-input formControlName="designation" label="Enter your designation" type="text" label="Designation" labelPlacement="stacked"></ion-input>
            </ion-item>
            @if (employeeForm.get('designation')?.invalid && (employeeForm.get('designation')?.dirty ||
            employeeForm.get('designation')?.touched)) {
            <ion-text color="danger" class="error-message">
                @if (employeeForm.get('designation')?.errors?.['required']) {
                <p>designation is required.</p>
                }

            </ion-text>
            }
        </form>
        <ion-footer>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Close</ion-button>
                    <ion-button class="submit" (click)="submitData()">Submit</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
    </ng-template>
</ion-modal>