<ion-grid>
    <ion-row class="ion-align-items-center">

        <ion-col class="ion-text-start">
            <span class="project-title"> Employee list</span>
        </ion-col>


        <ion-col class="ion-text-end" size="auto">
            <ion-button class="large-button" (click)="setOpen(true)">Create Employee</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>




<ion-grid class="project-table">
    <ion-row class="header-row ion-text-center">
        <ion-col size="2">Employee ID</ion-col>
        <ion-col size="2">Employee Name</ion-col>
        <ion-col size="2">Mail-id</ion-col>
        <ion-col size="2">phone Number</ion-col>
        <ion-col size="2">Employee Designation</ion-col>
        <ion-col size="2">Action</ion-col>


    </ion-row>

    @for (item of employees; track item.employeeId) {
    <ion-row class="data-row ion-text-center">

        <ion-col size="2">{{ item.employeeId }}</ion-col>
        <ion-col size="2">{{ item.employeeName }}</ion-col>
        <ion-col size="2">{{ item.employeeMail}}</ion-col>
        <ion-col size="2">{{ item.employeeNumber}}</ion-col>
        <ion-col size="2">{{ item.employeeDesignation}}</ion-col>
        <!-- <ion-col size="2">{{ item.techStack}}</ion-col> -->
        <ion-col size="2">
            <ion-icon name="create-outline" size="small" class="cursor" color="danger"></ion-icon>
            <ion-icon name="trash-outline" size="small" class="cursor" color="danger">

            </ion-icon>
        </ion-col>
    </ion-row>
    }
    @empty {

    <ion-row class="ion-text-center">
        <ion-col size="12">No projects found.</ion-col>
    </ion-row>
    }

</ion-grid>

<ion-modal [isOpen]="isModalOpen" cssClass="custom-modal">
    <ng-template>
   
        <app-sign-up [heading]="'Create Employee'" [includeProjectFields]="true"
        [customMargin]="'0'"
        (closeModal)="setOpen(false)"
        >
        
        </app-sign-up>
    
  
     
    </ng-template>
  </ion-modal>
  